html[data-theme='cyberpunk'][data-mode='light'] {
    --color-bg: #e8e8e8;
    --color-text: #0d0221;
    --color-text-subtle: #4e4a59;
    --color-card-bg: #f5f5f5;
    --color-header-text: #fff;
    --color-shadow: rgb(13 2 33 / 20%);
    --color-shadow-strong: rgb(13 2 33 / 30%);
    --color-hr: #c0c0c0;
    --color-link: #f0f;
    --color-item-hover-bg: rgb(0 240 255 / 15%);
    --color-movement: #d9006c;
    --color-action: #0077b6;
    --color-bonus-action: #8e2de2;
    --color-reaction: #009e73;
    --color-condition: #f8961e;
    --color-environment: #4d4d4d;
    --color-settings: #0d0221;
    --color-accept: #009e73;
    --color-favorite: #f8f162;
}

html[data-theme='cyberpunk'][data-mode='dark'] {
    --color-bg: #0d0221;
    --color-text: #00f0ff;
    --color-text-subtle: #8a91ab;
    --color-card-bg: #15053a;
    --color-header-text: #0d0221;
    --color-shadow: rgb(0 240 255 / 20%);
    --color-shadow-strong: rgb(0 240 255 / 30%);
    --color-hr: #4a3f6d;
    --color-link: #f8f162;
    --color-item-hover-bg: rgb(255 0 255 / 10%);
    --color-movement: #f0f;
    --color-action: #00f0ff;
    --color-bonus-action: #9f72e3;
    --color-reaction: #50fa7b;
    --color-condition: #f8f162;
    --color-environment: #a0a0a0;
    --color-settings: #fff;
    --color-accept: #50fa7b;
    --color-favorite: #f0f;
}