html[data-theme='high-contrast'][data-mode='light'] {
    --color-bg: #fff;
    --color-text: #000;
    --color-text-subtle: #222;
    --color-card-bg: #f0f0f0;
    --color-header-text: #fff;
    --color-shadow: rgb(0 0 0 / 40%);
    --color-shadow-strong: rgb(0 0 0 / 60%);
    --color-hr: #999;
    --color-link: #00f;
    --color-item-hover-bg: rgb(0 0 255 / 15%);
    --color-movement: #d00;
    --color-action: #b39b00;
    --color-bonus-action: #d0d;
    --color-reaction: #0b0;
    --color-condition: #cc7000;
    --color-environment: #0bb;
    --color-settings: #000;
    --color-accept: #0b0;
    --color-favorite: #b39b00;
}

html[data-theme='high-contrast'][data-mode='dark'] {
    --color-bg: #000;
    --color-text: #fff;
    --color-text-subtle: #ddd;
    --color-card-bg: #111;
    --color-header-text: #000;
    --color-shadow: rgb(255 255 255 / 40%);
    --color-shadow-strong: rgb(255 255 255 / 60%);
    --color-hr: #666;
    --color-link: #0ff;
    --color-item-hover-bg: rgb(0 255 255 / 15%);
    --color-movement: #f00;
    --color-action: #ff0;
    --color-bonus-action: #f0f;
    --color-reaction: #0f0;
    --color-condition: #ff8c00;
    --color-environment: #0ff;
    --color-settings: #fff;
    --color-accept: #0f0;
    --color-favorite: #ff0;
}